.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
	@apply bg-dark/70;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    @supports (-webkit-backdrop-filter: blur(3px)) or (backdrop-filter: blur(3px)) {
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
		@apply bg-white/30;
    }

    &--info {
        @extend .popup;
		@apply bg-white/70 md:h-[25rem];
        top: auto;
        bottom: 0;
        opacity: 1;
        left: 100%;
        height: 30rem;
        transition: left .4s;

        .swiper-container {
            position: relative;
			@apply max-w-smallerContent;
            margin-top: auto;
        }

        &.showpopup {
            left: 0;
            transition: left .4s;
        }
    }

    &__slider-container {
		@apply relative max-w-[100vw] max-h-full w-smallerContent md:h-[20rem] md:flex md:flex-col;
    }

    &__arrow-right,
    &__arrow-left {
        position: absolute;

        &::after {
            display: block;
        }
    }

    &__content {
        width: 90vw;
        max-width: 56em;
		@apply absCenter bg-white shadow-md;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        opacity: 0;
        // transform: translate(-50%, -50%) scale(.25);
        transition: all .5s .2s;

        .wpcf7 {
            width: 100%;
            font-size: 1.4rem;

            form {
                width: 100%;
                padding: 5px;
            }
        }

        &--newsletter {
            display: flex;
            align-items: center;
        }

        &--info {
            width: 100%;
            max-width: 100vw;
            max-height: 100%;
            border-radius: 0;
			@apply shadow-md;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            background: transparent;
        }

    }

    &__artist-name {
        font-size: 1.4rem;
    }
    &__artwork-name {
        font-size: 1.6rem;
        font-style: italic;
    }

    &__left {

        &--newsletter {
            flex: 1;
            background-size: cover;
            background-repeat: no-repeat;
						@apply md:w-[360px] lg:w-[500px];
        }
    }

    &__right {
        width: 100%;
        max-height: 70vh;
        overflow-y: auto;
        justify-content: center;
        vertical-align: middle;
		@apply p-hgap pt-gap;

        &--newsletter {
            display: flex;
            justify-content: center;
			@apply text-lg md:w-[calc(100%-360px)] lg:w-[calc(100%-500px)];

            input[type="submit"] {
                font-size: 1rem;
                width: 100%;
                padding: 2rem;
            }
        }

        &--info {
            padding: 0;
            overflow: visible;
			@apply sm:p-0;
        }

        li {
            list-style-type: disc;
            margin-left: 4rem;
        }

    }

    &__title {
        font-size: 4.2rem;
    }

    &__subtitle {
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }

    &__input {
        &--newsletter {
            font-size: 1.4rem;
            text-align: center;
            margin-bottom: 2rem;
        }
    }

    &__close {
        pointer-events: all;

        &:link,
        &:visited {
			@apply text-primary rem:top-[10px] font-bold;
            position: absolute;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1;
        }

        &:hover {
			@apply text-dark;
        }

        &--newsletter {
            @extend .popup__close;
        }


    }

    &__sticky-button {
		@apply bg-primary/80 bottom-hhgap right-0 py-hhgap rem:px-[10px];
        margin: 0;
        position: fixed;
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
        z-index: 99;
        display: block;
        text-decoration: none;
        cursor: pointer;
        transition: opacity .4s, bottom 0.7s;

        svg {
			@apply w-[15px] h-[15px] fill-white;
            position: absolute;
            top: 50%;
            left: 55%;
            transform: translate(-50%, -50%);
            touch-action: none;
            pointer-events: none;
             -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        &:hover {
           opacity: .7;
        }

        &.hidden {
            opacity: 0;
            pointer-events: none;
            transition: opacity .4s, bottom 0.7s;
            bottom: 25rem;
        }
    }
}

.showpopup {
    visibility: visible;
    opacity: 1;
}

// #ccwrap select {
//     padding: .5em 1em;
// }

// #mc_embed_signup_scroll {
//     padding: 4rem 1rem;
//     @include breakpoint(sm) {
//         padding: 4rem;
//     }
//     text-align: center;
// }
