/**
* Custom styles to immediately follow Tailwind’s `utilities` layer
*
* Add your own utility classes to this theme. Complex utility classes should
* be added using Tailwind’s plugin system:
*
* https://tailwindcss.com/docs/plugins#adding-utilities
*/
@layer utilities {

	.clearfix {
			@apply clear-both before:clear-both before:block before:content-[''] after:clear-both after:block after:content-[''];
	}

	.flexfix {
			@apply before:absolute after:absolute;
	}

	.overlay {
			@apply before:content-[''] block absolute top-0 left-0 right-0 bottom-0 bg-black/20 z-[1] pointer-events-none;
	}

	.absCenter {
			@apply absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2;
	}
	.leftCenter {
			@apply absolute left-0 top-1/2 transform -translate-y-1/2;
	}
	.topCenter {
			@apply absolute top-0 left-1/2 transform -translate-x-1/2;
	}
	.bottomCenter {
			@apply absolute bottom-0 left-1/2 transform -translate-x-1/2;
	}
	.rightCenter {
			@apply absolute right-0 top-1/2 transform -translate-y-1/2;
	}
	.xCenter {
			@apply absolute left-1/2 transform -translate-x-1/2;
	}
	.yCenter {
			@apply absolute top-1/2 transform -translate-y-1/2;
	}

	.flex-center {
			@apply flex items-center justify-center;
	}

	.base-input {
			@apply transition-all duration-500 bg-transparent py-hgap border-b border-b-black outline-none focus:outline-none focus:border-b-tertiary text-xs placeholder:text-xs placeholder:text-black uppercase;
	}

	.base-input--white {
		@apply border-white placeholder:text-white placeholder:lowercase placeholder:opacity-70;
	}

	.base-textarea {
			@apply transition-all duration-500 bg-white p-[8px] rounded-md border outline-none focus:outline-none focus:border-tertiary;
	}

	.base-button, .button {
		@apply text-white uppercase bg-primary hover:bg-[#004b87] hover:cursor-pointer rounded-full transition-all duration-500 px-[30px] py-[12px] inline-block z-[1] relative;

		&:disabled {
			@apply bg-black/70 cursor-not-allowed;
		}
	}

	.base-button--invert {
		@apply text-primary hover:text-white bg-transparent hover:bg-primary border-[1px] border-primary;
	}
	.base-button--primary {
		@apply text-white bg-primary hover:bg-black;
	}
	.base-button--outline {
		@apply text-black bg-transparent hover:bg-black hover:text-white border-[1px] border-black w-full;
	}
	.base-button--secondary {
		@apply text-white bg-secondary hover:bg-black;
	}

	.base-button--tertiary {
		@apply text-white bg-tertiary hover:bg-black;
	}

	.base-button--disabled {
		@apply text-white bg-light hover:bg-black hover:cursor-not-allowed;
	}

	.icon-button {
		@apply bg-white text-black hover:bg-primary hover:text-black w-[25px] h-[25px] md:w-[35px] md:h-[35px] min-w-[25px] md:min-w-[35px] flex items-center justify-center transition-all duration-300;
	}
	.icon-button--autow {
		@apply w-auto bg-transparent hover:bg-transparent hover:text-primary;
	}

	.icon-button--small {
		@apply w-[20px] h-[20px] md:w-[20px] md:h-[20px] min-w-[20px] md:min-w-[20px];
	}

	/* Select2 Custom Styles */
	.select-h {
		@apply h-[38px];
	}
	.select-min-h {
		@apply min-h-[38px];
	}
	.select-leading {
		@apply leading-[1];
	}
	.select-radius {
		@apply rounded-md;
	}
	.select-border {
		@apply border border-none;
	}
	.select-padding {
		@apply pl-hgap pr-hgap;
	}
	.select-rtl-padding {
		@apply pr-hhgap pl-hgap;
	}
	.select-arrow {
		@apply hidden h-[11px] top-[21px] right-hgap w-[11px] absolute;
	}
	.select-bg {
		@apply bg-transparent;
	}
	.select-selected {
		@apply bg-background text-foreground;
	}
	.select-highlighted {
		@apply text-white bg-[#062441] cursor-pointer;
	}
	.select-text {
		@apply text-foreground label;
	}
	.select-multiple-min-h {
		@apply min-h-[32px];
	}
	.select-results-max-h {
		@apply max-h-[200px];
	}
	.select-disabled-text-color {
		@apply text-foreground/50;
	}
	.select-disabled-bg {
		@apply bg-primary/20;
	}
	.select2-selection__rendered {
		@apply font-normal;
	}

	.layout-padding {
		@apply px-gap;
	}

	.layout-container {
			@apply w-[calc(theme(spacing.layoutContent)+theme(spacing.dgap))] layout-padding max-w-full;
	}

	.infinite-container {
			@apply w-full layout-padding max-w-full;
	}

	.inner-container {
			@apply w-[calc(theme(spacing.smallerContent)+theme(spacing.dgap))] layout-padding max-w-full;
	}

	.site-border {
		@apply border border-light;
	}

	.site-radius {
		@apply rounded-md;
	}

	.is-desktop-preview {
			@apply !bg-background;
	}

	.editor-styles-wrapper {
			@apply w-smallerContent max-w-full !px-hhgap !mx-auto !overflow-x-hidden;
	}

	.whitespace-no-wrap {
			white-space: nowrap;
	}

	.base-text {
		@apply text-md leading-[1.3];
	}

	.label {
		@apply text-xs uppercase leading-[16px];
	}

	.label-menu {
		@apply text-xs desk:text-sm uppercase leading-[16px];
	}

	.title-xs {
		@apply font-sans-serif text-sm leading-[1.3] md:text-lg;
	}

	.title-sm {
		@apply font-sans-serif text-xl md:text-3xl leading-[1.3];
	}

	.title-md {
		@apply font-sans-serif text-md md:text-xl font-medium leading-[1.3];
	}

	.title-lg {
		@apply font-sans-serif text-xl md:text-2xl font-medium leading-[1.3] md:leading-[46px];
	}
	.title-lg--menu {
		@apply font-sans-serif text-xl md:text-2xl font-medium leading-[36px] md:leading-[46px];
	}
	.title-4xl {
		@apply font-sans-serif text-2xl md:text-4xl font-medium leading-tight;
	}
	.title-5xl {
		@apply font-sans-serif text-3xl md:text-5xl font-medium leading-[46px] md:leading-[86px];
	}

	.h-screen {
		height: 100vh;
		height: 100svh;
	}

	.min-h-screen {
		min-height: 100vh;
		min-height: 100svh;
	}

	.max-h-screen {
		max-height: 100vh;
		max-height: 100svh;
	}

	.max-w-screen {
		max-width: 100vw; //fallback for browsers that don't support css vars
		max-width: 100svw;
	}

	.w-screen {
		width: 100vw; //fallback for browsers that don't support css vars
		width: 100svw;
	}

	.alignwide {
		position: relative;
		left: 50%;
		width: 100vw;
		@apply max-w-[calc(theme(spacing.layoutContent)+theme(spacing.dgap))] layout-padding;
		transform: translate(-50%);
	}

	.editor-styles-wrapper .alignwide {
		@apply !px-0;
		transform: translate(0) !important;
		left: 0 !important;
		width: 100%;
	}

	.alignfull {
		margin: 0 calc(50% - 50vw);
		max-width: 100vw; //fallback for browsers that don't support css vars
		width: 100vw;
	}

	.editor-styles-wrapper .alignfull {
		width: 100% !important;
		left: 0 !important;
		margin: 0 !important;
	}

	.screen-reader-text {
		@apply sr-only;
	}

	.searchform-active {
		@apply opacity-100 visible pointer-events-auto;
	}

	[x-cloak] { display: none !important; }
	[data-gs-reveal] { opacity: 0;}

}
